.circular-gallery {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
  cursor: grab;
}

.circular-gallery h1 {
  text-align: center;
  padding-top: 1rem;
}

.circular-gallery:active {
  cursor: grabbing;
}
