.slider-container {
  width: 100%;
  height: 450px;
  background: #010e27;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container h1 {
  color: white;
  padding: 2rem 1rem;
}

.demo {
  width: 200px;
  height: 320px;
  position: relative;
}

.card {
  position: absolute;
  width: 200px;
  height: 300px;
  border: 8px solid #f1f1f1;
  overflow: hidden;
  border-radius: 16px;
  cursor: grab;
}

.card:active {
  cursor: grabbing;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}
