.ss-container {
  width: 100%;
}

.ss-container h1 {
  text-align: center;
  padding: 1rem;
}

.ss-card {
  position: sticky;
  top: 0;
}

.ss-card__inner {
  will-change: transform;
  background: white;
  border-radius: 14px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px hsla(265.3, 20%, 10%, 35%);
  transform-origin: center top;
  margin-top: 2.5rem;
}

.ss-cards {
  width: 70%;
  margin: 0 auto;
  gap: 40px 0;
}

.ss-card__image-container {
  display: flex;
  width: 40%;
  flex-shrink: 0;
}

.ss-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.ss-card__content {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
}

.ss-card__title {
  padding: 0;
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  color: #16263a;
}

.ss-card__description {
  line-height: 1.4;
  font-size: 24px;
  color: #16263a;
}

.ss-space-bottom {
  height: 8rem;
}

@media (max-width: 1440px) {
  .ss-cards {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .ss-cards {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .ss-cards {
    width: 95%;
  }
}
