@import url("https://fonts.googleapis.com/css?family=Courgette|Roboto");

.scroll-reveal-container {
  width: 100%;
}

.scroll-reveal-content blockquote {
  position: relative;
  padding-left: 1.5rem;
  font-family: "Courgette", serif;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
}

.scroll-reveal-content blockquote:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #a9dfbf;
  border-radius: 60px;
}

/* Fixed background image element */
.scroll-reveal-hero figure {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 0;
}

/* Hero section */
.scroll-reveal-hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.scroll-reveal-hero:nth-child(1) .scroll-reveal-hero-figure-1 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/photo-1506260408121-e353d10b87c7.jpg");
}

.scroll-reveal-hero:nth-child(2) .scroll-reveal-hero-figure-2 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/photo-1506744038136-46273834b3fb.jpg");
}

.scroll-reveal-hero:nth-child(3) .scroll-reveal-hero-figure-3 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/photo-1523712999610-f77fbcfc3843.jpg");
}

.scroll-reveal-hero:nth-child(4) .scroll-reveal-hero-figure-4 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/photo-1501785888041-af3ef285b470.jpg");
}

.scroll-reveal-hero-inner {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
}

@supports (-webkit-overflow-scrolling: touch) {
  .scroll-reveal-hero-inner {
    clip: unset;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.scroll-reveal-hero__title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Courgette", serif;
  font-size: 8rem;
  letter-spacing: -0.125rem;
  text-align: center;
  margin: 0;
}

/* Content section */
.scroll-reveal-content {
  position: relative;
  margin: 0 auto 8rem;
  padding: 2rem;
  background-color: white;
}

.scroll-reveal-content:before {
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 101px;
  background-color: white;
  z-index: 99;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.scroll-reveal-content__inner {
  margin: 0 auto;
  width: 70%;
}

.scroll-reveal-content__inner > * + * {
  margin-top: 1.5rem;
}

.scroll-reveal-content__inner > blockquote {
  margin: 3rem 0;
}

.scroll-reveal-content__title {
  font-family: "Courgette", serif;
  font-size: 4rem;
  line-height: 1.25;
  letter-spacing: -0.125rem;
  text-align: center;
  margin-top: 0;
}

.scroll-reveal-content__author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  width: 100%;
  font-family: "Courgette", serif;
  font-size: 1.5rem;
  letter-spacing: -0.125rem;
  text-align: center;
}

.scroll-reveal-content p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

.scroll-reveal-content__author:before,
.scroll-reveal-content__author:after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: #a9dfbf;
}

.scroll-reveal-content__author:before {
  margin-right: 1rem;
}

.scroll-reveal-content__author:after {
  margin-left: 1rem;
}

/* -------------------------- Responsive Style --------------- */
@media (max-width: 1024px) {
  .scroll-reveal-hero__title {
    font-size: 6rem;
  }

  .scroll-reveal-content__inner {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .scroll-reveal-hero__title {
    font-size: 4rem;
  }

  .scroll-reveal-content__title {
    font-size: 3rem;
  }

  .scroll-reveal-content__inner {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .scroll-reveal-hero__title {
    font-size: 2.5rem;
  }

  .scroll-reveal-content__title {
    font-size: 2rem;
  }

  .scroll-reveal-content__inner {
    width: 95%;
  }

  .scroll-reveal-content p {
    font-size: 1rem;
  }
}
